# Nuxt dev/build outputs
.output
.data
.nuxt
.nitro
.cache
dist

# Node dependencies
node_modules

# Logs
logs
*.log

# Misc
.DS_Store
.fleet
.idea

# Local env files
.env
.env.*
!.env.example

# Custom
.vercel
content
public/assets/*.png
public/assets/*.jpg
public/assets/*.jpeg
public/assets/*.bmp
public/fimg